// хайлайты
@btnlh: 18px;

// цвета
@mainbtn: #ff7435;
@mainbtndrkn: #e85715;
@secondbtn: #0ab89d;
@secondbtndrkn: #079b84;
@textblack: #191919;
@textwhite: #fff;
@bggray: #f6f6f6;
@bgcoltext: rgba(251, 253, 251, 0.9);

// шрифты
@ptserifcap: 'PT Serif Caption';
@ptsanscap: 'PT Sans Caption';
@firasans: 'Fira Sans', sans-serif;
@ptserif: 'PT Serif', serif;
