.promo-slider {
  display: flex;
  flex-direction: column-reverse;
  &__tabs {
    text-align: center;
    text-transform: uppercase;
    font-size: 14px;
    line-height: 72px;

    a {
      color: @textblack;
      padding: 0 6px;
      transition: 0.3s ease all;

      &:hover {
        color: @mainbtn;
      }

      &:active {
        color: @mainbtn;
      }
      &:focus {
        color: @mainbtn;
      }
    }

    span {
      padding-bottom: 5px;
      &:hover {
        border-bottom: 2px solid @mainbtn;
          }
      &:active {
        border-bottom: 2px solid @mainbtn;
      }
      &:focus {
        border-bottom: 2px solid @mainbtn;
      }
    }
  }
  
  &__item {
    background-image: url('../imgs/promo-slider__bg.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding-top: 20px;
    display: none;
    min-height: 320px;

    &.active {
      display: block;
    }

    @media (min-width: @screen-md) {
      min-height: 430px;
      padding-top: 90px;
    }
  }

  &__inner {
    max-width: @screen-md;
    @media (max-width: 767px) {
      background-color: @bgcoltext;
    }

    @media (min-width: @screen-sm) {
      padding: 0 25px;
      background-color:;
      margin-right: auto;
      margin-left: auto;
      align-items: center;
    }
  }

  &__title {
    font-weight: 300;
    text-align: center;
    font-size: 18px;
    line-height: 24px;


    @media (min-width: @screen-sm) {
      font-family: @ptserifcap;
      font-size: 36px;
      line-height: 42px;
      text-align: left;

      span {
        background-color: @bgcoltext;
        padding: 0 11px 0 7px;
      }
    }
  }

  &__text {
    text-align: center;

    @media (min-width: @screen-sm) {
      text-align: left;

      span {
        background-color: @bgcoltext;
        padding: 3px 11px 3px 7px;
        }
    }
  }


}