.menu-toggler {
    text-decoration: none;
    display: flex;
    cursor: pointer;
    width: 28px;
    min-height: 20px;
    flex-direction: column;

    span {
      width: 28px;
      height: 4px;
      background-color: @mainbtn;
      margin-bottom: 4px;
      display:block;
    }
}

.social-icon {
  
  &__list {

  }
  
  &__item {
    display: flex;
  }

}

.site-logo {
  text-align: center;
  @media (min-width: @screen-md) {
    text-align: left;
  }
}