.restplace {

  &__title {
    font-size: 26px;
    font-weight: 300;
    font-family: @ptserifcap;
    padding-bottom: 30px;
  }

  &__inner {
    display: flex;
    flex-direction:column;
    justify-content: center;
    padding-bottom: 15px;
  }
}